@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(136, 136, 206, 0.7);
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: larger;
}

#title {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 35px 0 5px 0;
}

#description {
    color: white;
    text-align: center;
    margin: 0 0 35px 0;
    font-style: italic;
    font-weight: 200;
}

#form-div {
    background-color: rgba(28, 28, 51, 0.95);
    padding: 50px;
    width: 750px;
    margin: 0 auto;
    margin-bottom: 100px;
    color: white;
    border-radius: 1%;
}

#name, #email, #dropdown, #number, #submit {
    width: 100%;
}

#name, #email, #number, #dropdown {
    padding: 6px 12px;
}

#name, #email, #dropdown, #number {
    margin-bottom: 25px;
}

#question, #suggestions-label {
    margin: 0;
}

#not-sure-label, #suggestions-box, #not-sure, #back-end-projects, #back-end-projects-label {
    margin-bottom: 25px;
}

#submit {
    height: 40px;
    border: 0;
    background: #37b066;
    font-size: 18.5px;
    color: white;
}

#suggestions-box {
    resize: vertical;
    width: 100%;
    height: 125px;
    padding: 5px;
    border: 0;
    border-radius: 1.25%;
    min-height: 100px;
}

::placeholder {
    font-family: inherit;
    font-size: 20px;
}

