@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#body {
    font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
}

#title {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 35px 0 5px 0;
}

#description {
    color: white;
    text-align: center;
    margin: 0 0 35px 0;
    font-style: italic;
    font-weight: 200;
}

#form-div {
    background-color: violet;
    padding: 50px;
    width: 750px;
    margin: 0 auto;
    
}